@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body{
  @apply dark:bg-black
}
/*.light{*/
/*  background-color: #FFFBF5;*/
/*}*/

:root {
  --bg-card-light-primary-color: #F9B572;
  --border-light-primary-color : #772f1a;
  --bg-light-secondary-color : #F7EFE5;
  --light-primary-hover-color : #8f3e00;
}

body {
  height: 100%;
  font-family: 'Poppins' , 'sans-serif';
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
