@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply dark:bg-black;
}
html::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background: rgba(70, 68, 68, 0.58);
  border-radius: 25px;
}
html::-webkit-scrollbar-corner{
  display: none;
}
.markdown-content {
  @apply p-4;
}
.markdown-content h1 {
  @apply text-transparent bg-clip-text bg-gradient-to-tr dark:from-pink-400 dark:to-violet-700 from-amber-800 to-amber-500 font-extrabold xs:text-3xl;
}
.markdown-content h2 {
  @apply dark:text-white text-amber-800 font-bold xs:text-2xl  mb-2;
}
.markdown-content p {
  @apply p-2 dark:text-gray-200 text-amber-700 font-normal xs:text-lg ;
}

.workout-plan-markdown-content table {
  @apply w-full;
}

.workout-plan-markdown-content p {
  @apply  sm:text-[1rem] xl:text-xl dark:text-gray-200 text-amber-700 font-semibold font-montserrat dark:border-gray-600 border-amber-900
}

.workout-plan-markdown-content th:not(:last-child),
.workout-plan-markdown-content td:not(:last-child){
  @apply xs:px-1.5 sm:px-4 py-2 text-left my-auto items-center border-r border-t border-dashed border-amber-900 dark:border-gray-700;
}

.workout-plan-markdown-content th:last-child {
  @apply xs:px-1.5 sm:px-4 py-2 text-left items-center my-auto border-t border-dashed border-amber-900 dark:border-gray-700 rounded-tr-2xl;
}

.workout-plan-markdown-content tr:last-child {
  @apply border-b border-dashed rounded-bl-2xl rounded-br-2xl border-amber-900 dark:border-gray-700;
}

.workout-plan-markdown-content td:last-child {
  @apply px-4 py-4 text-left border-dashed border-t border-amber-900 dark:border-gray-700;
}

.workout-plan-markdown-content tr:last-child{
  @apply border-0;
}

.workout-plan-markdown-content th:first-child {
  @apply !rounded-tl-2xl;
}
.workout-plan-markdown-content th{
  @apply !border-t-0 bg-amber-100 dark:bg-gray-900 ;
}


:root {
  --bg-card-light-primary-color: #f9b572;
  --border-light-primary-color: #772f1a;
  --bg-light-secondary-color: #f7efe5;
  --light-primary-hover-color: #8f3e00;
}

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;

      --primary: 0 0% 9%;
      --primary-foreground: 0 0% 98%;

      --secondary: 0 0% 96.1%;
      --secondary-foreground: 0 0% 9%;

      --muted: 0 0% 96.1%;
      --muted-foreground: 0 0% 45.1%;

      --accent: 0 0% 96.1%;
      --accent-foreground: 0 0% 9%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;

      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;
    }
  }

  @layer base {
    * {
      @apply border-border font-poppins ;
    }
    body {
      @apply bg-background text-foreground ;
    }
  }
